<!DOCTYPE html>
<html lang="en" ng-app="pokedexApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Pokedex - Passo 1</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controllers/main.js"></script>
</head>
<body ng-controller="MainCtrl">
<ul>
    <li ng-repeat="pokemon in pokemons">
        <span>{{'#'+pokemon.numero + ' ' + pokemon.nome}}</span>

        <p>{{'Description: '+ pokemon.descricao}}</p>
    </li>
</ul>
</body>
</html>