<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Angular Pokedex - Passo 1</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body>
    <ul>
        <li>
            <span>Bulbasaur</span>
            <p>Description: The seed on its back is filled with nutrients. The seed grows steadily larger as its body grows.</p>
        </li>
        <li>
            <span>Ivysaur</span>
            <p>Description: The seed on its back is filled with nutrients. The seed grows steadily larger as its body grows.</p>
        </li>
        <li>
            <span>Venusaur</span>
            <p>Description: It is able to con vert sunlight into energy. As a result, it is more powerful in the summertime.</p>
        </li>
    </ul>


</body>
</html>